$color-brand-primary: #c97783;
$color-background-card: #ffffff;
$color-background-page: #fff4f4;
$color-border-card: #ffdddd;
$color-border-list: #f0bfbf;
$color-icon-navigation: #ff9696;
$color-text-main: #484848;
$color-text-main-white: #ffffff;
$color-text-section-heading: #646464;
$color-text-sub: #909090;

$fontset-alphanumeric: 'Rubik', sans-serif;
$fontset-jp-mincho: 'Shippori Mincho', serif;

$width-max-sp: 640px;
$width-min-pc: $width-max-sp + 1px;

$z-index-global-menu-open-button: 990;
$z-index-global-menu: 1000;
