.o-header
  padding-top: 48px;
  background-image: linear-gradient(to top, $red 4px, $pink 5px)
  z-index: 1000

  &__inner
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 48px;
    box-sizing: border-box;

  &__brand
    img
      width: 200px
      vertical-align: bottom

    span
      margin-left: 20px
      font-size: 24px
      color: $red

  &__nav
    & > ul
      display: flex;
      margin: 0;
      padding: 40px 0 24px;

      & > li
        position: relative
        height: 60px
        flex: 1 0 0
        background-color: $light-pink
        color: $red
        transition: background-color 0.2s

        &:hover
          background-color: #fff;

        &.active
          background-color: $red
          color: $light-pink

          &::before
            content: ''
            position: absolute
            width: 100%
            height: 40px
            bottom: -40px;
            transform: skew(-45deg)
            transform-origin: left bottom
            z-index: -1
            background-color: $dark-red

          &::after
            content: ''
            position: absolute
            width: 100%
            height: 40px
            bottom: -40px
            background-color: $red

        & > a
          display: flex
          width: 100%
          height: 100%
          justify-content: center
          align-items: center
          font-size: 16px

        & + li
          margin-left: 6px
