h1, h2 {
  margin: 100px 0 60px;
  padding: 0;
  letter-spacing: 0.03em;
  font-size: 60px;
  font-family: $typography-fonts;
  color: $red;

  @include sp {
    margin: 60px 0 50px;
    font-size: 40px;
  }

  & > small {
    margin: 0 20px;
  }
}

h3 {
  padding-bottom: 12px;
  border-bottom: 1px solid $pink;
  font-weight: normal;
  font-size: 20px;
  font-family: $typography-fonts;
  letter-spacing: 0.05em;
  color: $red;

  &:empty { display: none; }
}

small {
  font-size: 0.4em;
}

p {
  line-height: 1.4;
  font-size: 16px;
  color: $text-black;
}
