h2 {
  width: 100%;
  max-width: 1024px;
  margin: 100px auto 60px;
  padding: 0 48px;
  letter-spacing: 0.03em;
  font-size: 60px;
  font-family: $typography-fonts;
  color: $red;
}

h3 {
  padding: 16px 0 12px;
  border-bottom: 1px solid $pink;
  font-weight: normal;
  font-size: 20px;
  font-family: $typography-fonts;
  letter-spacing: 0.05em;
  color: $red;

  &:empty { display: none; }
}
