@import "../../../node_modules/sanitize.css/sanitize.css";
@import url('https://fonts.googleapis.com/css?family=Questrial');

@import "./_constants";
@import "./_reset";
@import "./_mixins";
@import "./_fundamentals";
@import "../../components/utils/**/*.scss";
@import "../../components/molecules/**/*.scss";
@import "../../components/organisms/**/*.scss";
@import "../../components/templates/**/*.scss";

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #fee;
}
