.t-general {
  background-color: $color-background-page;

  &__main {
    .o-section:not(.o-section .o-section) {
      max-width: 720px;
      margin: 0 auto;
      padding: 0 16px;
    }
  }

  > .a-global-menu-open-button {
    position: fixed;
    top: 20px;
    right: 24px;
    z-index: $z-index-global-menu-open-button;

    @include device(pc) {
      top: 24px;
    }
  }

  > .o-global-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-index-global-menu;
    width: 100%;
    height: 100%;
  }
}
