.m-detailed-link {
  $me: &;
  $duration: 0.4s;

  display: flex;
  position: relative;
  margin: 15px 0;
  padding: 8px 12px;
  background-color: $light-pink;
  z-index: 2;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $red;
    transform: scaleY(0);
    transition: transform $duration $bezier;
    z-index: -1;
  }

  &--large {
    padding: 16px 20px;

    @include sp {
      padding: 8px 12px;
    }
  }

  @include sp {
    display: block;
  }

  &__date {
    flex: 0 0 100px;
    font-size: 18px;
    font-family: $typography-fonts;
    color: $red;
    transition: color $duration $bezier;

    #{$me}--large & {
      flex: 0 0 140px;
      font-size: 24px;

      @include sp { font-size: 16px; }
    }

    @include sp {
      margin-left: 40px;
      font-size: 14px;
      & > div { display: inline-block; }
      & > div + div { margin-left: 8px; }
    }
  }

  &__separator {
    margin: 0 12px 0 6px;
    flex: 0 0 4px;
    background-color: $red;
    transition: background-color $duration $bezier;

    #{$me}--large & {
      margin: 0 20px 0 8px;

      @include sp { top: 15px; }
    }

    @include sp {
      position: absolute;
      width: 28px;
      height: 2px;
      left: 6px;
      top: 14px;
    }
  }

  &__main {
    padding: 4px 0;
    align-self: center;
    color: $text-black;
    transition: color $duration $bezier;
  }

  &__title {
    font-size: 20px;

    #{$me}--large & {
      font-size: 24px;

      @include sp { font-size: 18px; }
    }

    & + #{$me}__place:not(:empty) { margin-top: 6px; }

    @include sp { font-size: 16px; }
  }

  &__place {
    font-size: 14px;

    &:empty { display: none; }

    @include sp { font-size: 12px; }
  }

  &:hover {
    &::before { transform: scaleY(1); }

    #{$me}__date { color: $light-pink; }

    #{$me}__separator { background-color: $light-pink; }

    #{$me}__main { color: $light-pink; }
  }
}
